{% extends 'base_content.html.twig' %}

{% block content %}
<div class="profileBlock">
    <div class="profileHeader">
        <div class="profileBgImage" style="background: url({{ asset('img/profileBg.png') }}); background-size: cover;"></div>
        <div class="profileIcon" style="background-image: url({{ asset('img/user.png') }}); background-size: cover;"></div>
        <div class="profileButtons">
            <button class="message"><i class="fas fa-comments"></i></button>
            <button class="subscribeProfile"><span id="subscribeLabel">ПОДПИСАТСЯ</span></button>
        </div>
    </div>
    <div class="profileInfo">
        <div class="profileBio">
            <div class="profileUsername">{{ app.user.name }} <i class="fas fa-check-circle verifyIcon"></i></div>
            <div class="profileNickname">@{{ app.user.username }}</div>
        </div>
        <div class="profileDesc">profileDesc</div>
        <div class="profileStats">
            <span class="stat">0 подписчиков</span>
            <span class="stat">{{ app.user.posts|length }} постов</span>
            <span class="stat">0 подписок</span>
        </div>
    </div>
</div>
{% for post in app.user.posts %}
    {% include 'partial/render_post.html.twig' with {'post': post} %}
{% endfor %}
{% endblock %}
