{% extends 'base_content.html.twig' %}

{% block content %}
<div class="profileBlock">
    <div class="profileHeader">
        <div class="profileBgImage" style="background: url({{ asset('img/profileBg.png') }}); background-size: cover;"></div>
        <div class="profileIcon" style="background-image: url({{ asset('img/user.png') }}); background-size: cover;"></div>
        <div class="profileButtons">
            <button class="message"><i class="fas fa-comments"></i></button>
            <button class="subscribeProfile"><span id="subscribeLabel">ПОДПИСАТСЯ</span></button>
        </div>
    </div>
    <div class="profileInfo">
        <div class="profileBio">
            <div class="profileUsername">{{ user.name }} <i class="fas fa-check-circle verifyIcon"></i></div>
            <div class="profileNickname">@{{ user.username }}</div>
        </div>
        <div class="profileDesc">profileDesc</div>
        <div class="profileStats">
            <span class="stat">0 подписчиков</span>
            <span class="stat">{{ user.posts|length }} постов</span>
            <span class="stat">0 подписок</span>
        </div>
    </div>
</div>
{% for post in user.posts %}
    <div class="postBlock">
        <div class="postHeader">
            <a href="profile.html">
                <div class="postUser">
                    <div class="postIcon" style="background-image: url({{ asset('img/user.png') }}); background-size: cover;"></div>
                    <div class="postUserInfo">
                        <div class="postUsername">{{ post.author.username }} <i class="fas fa-check-circle verifyIcon"></i></div>
                        <div class="postTime">{{ post.createdAt|date('Y m D H:i') }}</div>
                    </div>
                </div>
            </a>
            <div class="postMore">
                <i class="fas fa-ellipsis-h moreicon"></i>
                <div class="postMoreMenu">
                    <button><i class="fas fa-star"></i> В Избранное</button>
                    <button><i class="fas fa-exclamation-triangle"></i> Пожаловатся</button>
                </div>
            </div>
        </div>
        <div class="postContent">
            <p>{{ post.body }}</p>
        </div>
        <div class="postFooter">
            <div class="postLike"><button class="btn_like"><i class="fas fa-heart animate__animated"></i></button> <span>{{ post.likes }}</span></div>
            <div class="postComment"><button class="btn_comment"><i class="fas fa-comment"></i></button> <span>0</span></div>
            <div class="postShare"><button onclick="window.location.href = '{{ post_url(post) }}';" class="btn_share"><i class="fas fa-share"></i></button> <span>0</span></div>
        </div>
    </div>
{% endfor %}
{% endblock %}
