{% extends 'base.html.twig' %}

{% block title %}Вход - Митер{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form method="post">
    <div class="imgcontainer">
        <img src="{{ asset('img/logo_header.png') }}" alt="Miter" class="logo">
    </div>

    <div class="container">
        <label for="uname"><span class="loginText">Никнейм</span></label>
        <div class="inputField">
            <i class="fas fa-user"></i><input type="text" value="{{ last_username }}" placeholder="Введите никнейм" name="username" required>
        </div>

        <label for="psw"><span class="loginText">Пароль</span></label>
        <div class="inputField">
            <i class="fas fa-key"></i><input type="password" placeholder="Введите пароль" name="password" required>
        </div>

        <button type="submit">Войти</button>
        <label>
            <div class="rememberMe"><input type="checkbox" checked="checked" name="_remember_me"> <span>Запомнить меня</span></div>
        </label>
        <a href="{{ path('app_register') }}">Нет аккаунта? Зарегистрироваться</a>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
</form>
{% endblock %}
