{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script>
        $("window").on('load', function() {
            $("body").removeAttr("id");
        });
    </script>
{% endblock %}

{% block body_attrs %}id="transition_disabled"{% endblock %}

{% block body %}
<header>
    <div class="container_header">
        <div class="header_inner">
            <div class="header_left">
                <div class="logo">
                    <a href="{{ path('app_homepage') }}"><img src="{{ asset('img/logo_header.png') }}" alt=""></a>
                </div>
                <div class="searchBox">
                    <i class="fas fa-search"></i>
                    <input class="mainSearch" placeholder="Поиск" type="text">
                </div>
                <button class="notificationIcon"><i class="fas fa-bell"></i><div class="round"></div></button>
            </div>
            <div class="notificationList">
                <div class="notification">
                    <div class="notificationUser">
                        <div class="postIcon" style="background-image: url({{ asset('img/user.png') }}); background-size: cover; width: 30px; height: 30px;"></div>
                        <div class="postUserInfo">
                            <div class="postUsername" style="font-size: 15px;">notificationUsername</div>
                            <div class="postTime" style="font-size: 12px;">notificationTime</div>
                        </div>
                    </div>
                    <p class="notificationDesc" style="font-size: 12px;">notificationDesc</p>
                </div>
            </div>
            <div class="header_right">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="userIcon">
                    <span>{{ app.user.username }} <i class="fas fa-check-circle verifyIcon"></i></span>
                    <div class="headerIcon" style="background-image: url({{ asset(app.user.avatarUrl) }}); background-size: cover;"></div>
                </div>
                <div class="profileMenuHeader">
                    <a href="{{ path('app_current_user_profile') }}"><i class="fas fa-user"></i> Мой профиль</a>
                    <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Выйти из аккаунта</a>
                </div>
                {% else %}
                    <a href="{{ path('app_login') }}"><button class="loginBtnHeader">Войти</button></a>
{#                    <a href="{{ path('app_register') }}"><button class="loginBtnHeader">Войти</button></a>#}
                {% endif %}
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="content">
        <div class="userPanel">
            <div class="upLabel" id="homepage"><i class="fas fa-home"></i><a href="{{ path('app_homepage') }}">Главная</a></div>
            <div class="upLabel"><i class="fas fa-search"></i><a href="#">Поиск</a></div>
            <div class="upLabel"><i class="fas fa-comments"></i><a href="#">Сообщения</a></div>
            <div class="upLabel"><i class="fas fa-star"></i><a href="#">Избранное</a></div>
            <div class="upLabel"><i class="fas fa-user-plus"></i><a href="#">Подписки</a></div>
            <div class="upLabel"><i class="fas fa-cog"></i><a href="#">Настройки</a></div>
        </div>
        <div class="mainContent">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}